{% extends "layout.html" %}

{% block pageTitle %}
  Which case is your message about?
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<a class="govuk-back-link" href="subject.html">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="write-message" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "case",
          name: "case-select",
          fieldset: {
            legend: {
              text: "Which case is your message about?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        items: [
          {
            value: "C Smith",
            text: "C Smith",
            checked: checked("case-select", "C Smith")
          },
          {
            value: "M Welch",
            text: "M Welch",
            checked: checked("case-select", "M Welch")
          },
          {
            value: "My message is not about a specific case",
            text: "My message is not about a specific case",
            checked: checked("case-select", "My message is not about a specific case")
          }
        ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
