{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block pageTitle %}
  Check your message
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<a class="govuk-back-link" href="declaration.html">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your message</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Message subject
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['message-subject']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="subject.html">
              Change
              <span class="govuk-visually-hidden"> message subject</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['case-select']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="case-select.html">
              Change
              <span class="govuk-visually-hidden"> case</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Message
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['write-message']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="write-message.html">
              Change
              <span class="govuk-visually-hidden"> message</span>
            </a>
          </dd>
        </div>
      </dl>
      <form action="declaration" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
