{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">We have received your message</h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>It can take up to 7 days to review your message</p>
      <p><a href="#">Print a copy of your message</p>


    </div>
  </div>

{% endblock %}
