{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block pageTitle %}
  Do you want to report [journey name] immediately?
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<a class="govuk-back-link" href="subject.html">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="report-immediately-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "report-now",
          name: "report-now",
          fieldset: {
            legend: {
              text: "Do you want to report a " + data['message-subject-lower'] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can immediately report a " + data['message-subject-lower'] + " yourself using report a change."
          },
        items: [
          {
            value: "Yes, report immediately",
            text: "Yes, report a change"
          },
          {
            value: "No, send a message",
            text: "No, send a message",
            hint: {
              text: "It can take up to 7 days to review your message."
            }
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>
{% endblock %}
