{% extends "layout.html" %}
{% set active_page = "Messages" %} 

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../messages">Messages</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Send a message</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Send a message
    </h1>

    <p>Contact us through webchat if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are responding to a request from us</li>
      <li>need to tell us something that cannot be reported online</li>
      <li>have a query</li>
    </ul>
    <h2 class="govuk-heading-m">Webchat</h2>
    <div class="govuk-inset-text">
      Opening hours:
      <br/>Monday to Friday, 9:30am to 3:30pm
      <br/>Closed weekends and bank holidays.
    </div>
    <p>Outside of these hours you can still send a message, but it can take up to 7 days to review your message.</p>

    <a href="subject.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p>For changes to your circumstances, it is usually faster to <a href="#">report a change online</a>. This includes <a href="#">reporting a missed payment</a>.</p>

    <p>If you have a general query, you can find more information about <a href="#">managing your case online (opens in a new tab)</a>. and <a href="#">how we calculate your payments (opens in a new tab)</a>.</p>

  </div>

</div>
{% endblock %}
