{% extends "layout.html" %}
{% set active_page = "Messages" %} 

{% block pageTitle %}
  What is your message?
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<a class="govuk-back-link" href="subject.html">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-message" method="post">
      {{ govukCharacterCount({
        name: "write-message",
        id: "write-message",
        maxlength: 600,
        rows: 10,
        label: {
          html: '<h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="with-hint">
                      What is your message?
                    </label>
                  </h1>
                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      We will not respond to any messages that contain inappropriate or offensive comments.
                    </strong>
                    <br/>
                    <p>It can take up to 7 days to review your message.
                      <br/><br/>If you want to chat to an adviser, the webchat opening hours are:
                      <div class="govuk-inset-text">
                        Monday to Friday, 9:30am to 3:30pm
                        <br/>Closed weekends and bank holidays.
                      </div>
                    </p>
                  </div>',
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: data['write-message'],
        hint: {
          text: "You will be able to save a copy of your message once you have sent it."
        }
      }) }}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
