{% extends "layout.html" %}
{% set active_page = "Messages" %} 

{% block pageTitle %}
  We’ve worked out your child maintenance payments
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="Messages">Messages</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Sent message</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl govuk-!-padding-top-4">Sent on {{data["today-date"]}}</span>
      {{data["message-subject"]}}
    </h1>
    <h2 class="govuk-heading-m">Your message</h2>

    <p>{{data["write-message"]}}</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Child Maintenance Service replies</h2>
    <p>There are no replies to your message. It can take up to 7 days to review your message</p>
  </div>
</div>
{% endblock %}
