{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block pageTitle %}
  We’ve worked out your child maintenance payments
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="messages">Messages</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Received message</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Received on 21 January 2020</span>
      Your service type has changed
    </h1>

    <p>For more help on downloading a PDF see our <a href="#">how to use this site</a> on our help section or contact us.</p>

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Letter name"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "Your service type has changed"
          },
          {
            html: '<a href="#">Download PDF</a>'
          }
        ],
        [
          {
            text: "Enclosure 1"
          },
          {
            html: '<a href="#">Download PDF</a>'
          }
        ]
      ]
    }) }}

    <p>You need Adobe Acrobat Reader to view the PDF files. If you don't already have it on your computer, you can <a href="#">install the latest version Adobe Acrobat Reader (opens in a new tab)</a>.</p>

  </div>
</div>
{% endblock %}
