{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block pageTitle %}
  We’ve worked out your child maintenance payments
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="messages">Messages</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Sent message</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl govuk-!-padding-top-4">Sent on 13 May 2021</span>
      Payment schedule query
    </h1>
    <h2 class="govuk-heading-m">Your message</h2>

    <p>Quisque id eros justo. Fusce ac posuere felis. Integer et magna orci. Sed vulputate, urna vitae posuere feugiat, dui urna finibus eros, eget dignissim elit nunc sit amet elit. Proin rhoncus massa ut lacus consequat blandit. Donec luctus non neque quis blandit. Fusce nec ullamcorper neque, sit amet pharetra augue. Donec tristique est vitae ullamcorper fermentum.</p>

    {{ govukTable({
      caption: "Child Maintenance Service replies",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      classes: "govuk-!-margin-top-9",
      head: [
        {
          text: "Message subject"
        },
        {
          text: "Date received"
        }
      ],
      rows: [
        [
          {
            html: '<a href="week-received-message">Your child maintenance enquiry</a>'
          },
          {
            text: "21 May 2021"
          }
        ]
      ]
    }) }}
  </div>
</div>
{% endblock %}
