<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a href="/home.html" class="govuk-link--no-visited-state {% if active_page == 'Home' %} current-link {% endif %}">Home</a>
    <a href="/messages/messages.html" class="govuk-link--no-visited-state {% if active_page == 'Messages' %} current-link {% endif %}">Messages</a>
    <a href="/report-a-change/landing.html" class="govuk-link--no-visited-state {% if active_page == 'Report a change' %} current-link {% endif %}">Report a change</a>
    <a href="/payments/landing.html" class="govuk-link--no-visited-state {% if active_page == 'Payments' %} current-link {% endif %}">Payments</a>
    <a href="/track-changes/track-changes.html" class="govuk-link--no-visited-state {% if active_page == 'Track changes' %} current-link {% endif %}">Track changes</a>
    <a href="/case-details/landing.html" class="govuk-link--no-visited-state {% if active_page == 'Case details' %} current-link {% endif %}">Case details</a>
    <!-- <a href="#" class="govuk-link--no-visited-state {% if active_page == 'Personal details' %} current-link {% endif %}">Personal details</a> -->
  </div>
  <a href="home.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
<div id="user-type-container">
  <p id="user-type-para">None</p>
</div>