{% extends "layout.html" %}
{% set active_page = "Report a change" %}

{% block pageTitle %}
Report a change
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../landing.html">Report a change</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Income and expenses</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Income and expenses
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="income/start.html" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Income</h2>
    </a>

    <p>Let us know if the gross taxable income we used to calculate your child maintenance has increased or decreased.</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="income/start.html" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Additional ncome</h2>
    </a>

    <p>Ask us to look at certain types of taxable income that has not been considered for the initial child maintenance calculation.</p>
  </div>
  
</div>
<div id="special-expenses-row" class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Special expenses</h2>
    </a>

    <p>Let us know about any special expenses you want us to consider when your child maintenance is calculated.</p>
  </div>
</div>
{% endblock %}