// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.grey-box {
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
  padding: 22px;
}

.CMG-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 10px solid #c1e4ec;
  padding-left: 35px;
  font-size: 20px;
  height: 90px;
  font-family: "Roboto", sans-serif;
}

#teal-ting {
  height: 60px;
  width: 4px;
  background-color: rgb(0, 172, 172);
}

#header-logo {
  margin-right: 10px;
  height: auto;
  width: 545px;
}

.covid-banner {
  background-color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

#covid-link {
  color: white;
  width: 960px;
  font-size: 19px;
}

#covid-link:hover {
  text-decoration: underline;
}

.bottom-space {
  height: 60px;
}

.navbar-main {
  height: 52px;
  width: 960px;
  border-bottom: 2px solid #b1b4b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.current-link {
  color: #0b0c0c;
  position: relative;
  top: 2px;
  border-bottom: 4px solid #1d70b8;
  padding: 12px 10px;
  margin-right: 22px;
}

.navbar-sub {
  display: flex;
  align-items: center;
  width: 840px;

  a {
    margin-right: 32px;
  }
}

#useful-links {
  a {
    margin-right: 32px;
  }
}

.home-card {
  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
  width: 316px;
  height: fit-content;
}

#contact-card {
  width: 480px;
  margin-right: 60px;
}

.payments-card {
  width: 248px;
}

#track-changes-card-body {
  padding-bottom: 30px;
}

.card-header {
  height: 60px;
  padding: 12px 12px 15px;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b1b4b6;
}

.notification-badge {
  background-color: #d4351c;
  border-radius: 50%;
  padding: 6px 8px;
  color: white;
  min-width: 32px;
  width: auto;
  box-sizing: border-box;
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.custom-row {
  display: flex;
  flex-direction: row;
  max-width: 960px;
}

.payments-grid {
  display: flex;
  flex-direction: row;
  max-width: 960px;

  .home-card {
    margin-right: 60px;
    margin-bottom: 30px;
  }
}

.card-body {
  padding: 15px 12px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.govuk-table__cell {
  font-size: 16px !important;
}

.govuk-table__cell {
  font-size: 16px !important;
}

.butsmaller {
  font-size: 16px !important;
}

.butblack {
  color: #0b0c0c !important;

  &:hover {
    color: #1d70b8 !important;
  }
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.govuk-table {
  margin-bottom: 20px !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
}

.small {
  font-size: 16px;
}

// Payments Styling

.totals-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & > * {
    margin-right: 40px;
  }
}

.per {
  display: flex;
  align-items: flex-end;
}

.timeline-wrapper {
  border-left:4px #1d70b8 solid;
  padding-left: 26px;
  padding-bottom: 35px;
  margin-top: 10px;
  position: relative;
  margin-bottom: -15px;

  &::before {
    content: " ";
    height: 4px;
    width: 10px;
    background: #1d70b8;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.timeline-body {
  position: relative;
  top: -10px;
}

.new-amount {
  & > * {
    margin-bottom: 0;
  }
  margin-bottom: 16px;
}

.amount-difference {
  color: #505a5f;
}

.govuk-width-one-eighth {
  width: 12.5% !important
}

.paginator {

  a {
    text-decoration: none;
    margin-right: 16px;
  }

  .current {
    color: #0b0c0c;
    font-weight: bold;
  }
}

.amount-freq {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  & > * {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.summary-card {
  display: flex;
  flex-direction: column;
}

.summary-card-container {
  display: flex;
  & > * {
    margin-right: 40px;
  }
  margin-bottom: 30px;
}

.pag-download {
  display: flex;
  justify-content: space-between;
}

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.vertical-menu {
  width: 100%; /* Set a width if you like */
  margin-bottom: 50px
}

.vertical-menu a {
  color: $govuk-link-colour; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-left: 5px solid govuk-colour("light-grey");
  margin: 5px 0px;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 19px;
}

.vertical-menu a:hover {
  text-decoration: underline
}

.vertical-menu a.active {
  background-color: govuk-colour("light-grey"); /* Add a green color to the "active/current" link */
  color: $govuk-link-active-colour;
  border-left: 5px solid $govuk-brand-colour;
  font-weight: bold;
}

.accordion-section{
  padding-top: 0px;
  border-bottom: 1px solid #b1b4b6;
}

.accordion-expander{
  padding: 0 0 10px;
}

.accordion-heading{
  position:relative;
  padding:10px 8px 5px 43px
}

.accordion-section-button{
  font-family:"nta",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:19px;
  line-height:1.25;
  border:0;
  background:none;
  text-align:left;
  cursor:pointer;
  padding:0;
  color:#1d70b8
}

.accordion-section-button:hover{
  text-decoration: underline
}

.accordion-section-button:after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:2
}

.accordion-selected-counter{
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  display: block;
  color: #0b0c0c;
  margin-top: 3px;
}

.accordion-icon{
  display: none;
  position: absolute;
  top: 0;
  left: 9px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c;
}

.accordion-icon-down{
  display: block;
}

.secondary {
  color:  $govuk-secondary-text-colour;
}

.table-row-header{
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
}

.table-row-subject{
  color:$govuk-brand-colour;
  font-weight: 700;
  text-decoration:none;
}

.table-row-subject:hover{
  text-decoration: underline;
}

.table-row-date{
  text-align:right
}

.table-row-change-date{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color:  $govuk-secondary-text-colour;
}

.changes-date-container {
  margin-top: 14px;
  
  .submitted-date {
    margin-right: 40px;
  }
}


.table-row-case{
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  display: block;
  color:  $govuk-secondary-text-colour;
  margin-top: 3px;
}

.float-right{
  float: right;
}

.visible{
  display: block;
}

.hidden{
  display: none;
}

.facet-container {
  background-color: #f3f2f1;
  position: relative;
  bottom: -20px;

  &.even {
    background-color: white !important;
  }
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  & > * {
    margin: 10px 10px 10px 0;
  }
}

.facet-tag {
  border-radius: 5px;
  border: 1px solid black;
  width: fit-content;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    content: "x";
    padding-right: 10px;
    font-family: "nta",arial,sans-serif;
    font-size: 22px;
  }
}

.table-result-count {
  position: relative;
  bottom: -10px;
}
.messages-result-count {
  position: relative;
  bottom: -10px;
}

.change-case-name {
  color: $govuk-secondary-text-colour;
}