{% extends "layout.html" %}
{% set active_page = "Report a change" %}

{% block pageTitle %}
  Report a missed payment
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../landing.html">Report a change</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../income-landing.html">Income and expenses</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Income </a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      What type of income are you reporting?
    </h1>

    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="gross" name="type-of-income" type="radio" value="gross">
        <label class="govuk-label govuk-radios__label" for="gross">
          Regular taxable income
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="additional" name="type-of-income" type="radio" value="additional" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="additional">
          Additional income
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          This includes stuff like yadayada ya
        </div>
      </div>
    </div>

    <a href="type-of-income.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Continue
    </a>

    
  </div>
</div>
{% endblock %}
