{% extends "layout.html" %}
{% set active_page = "Report a change" %}

{% block pageTitle %}
Education
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../landing.html">Report a change</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../children-landing.html">Children</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Education</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        We have received your request
      </h1>
    </div>

    <h3 class="govuk-heading-m">
      What happens next
    </h3>
    <p>Once we have reviewed your request if there is:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a change to your child maintenance we will send you a new expected payment plan advising how much child maintenance you will receive and by when</li>
      <li>no change we will let you know</li>
    </ul>
    <p>Following acceptance of your request, if there is no other child who qualifies for child maintenance, we will close your case. If applicable, we will continue to recover any unpaid child maintenance.
    <br/><a class="govuk-link--no-visited-state" href="/track-changes/track-changes">check the progress of the reported change</a> (it may take up to 30 seconds to appear).</p>
    <p>Make sure <a href="#">contact details and preferences</a> are up to date in case we need to contat you.</p>
  </div>
</div>
{% endblock %}