{% extends "layout.html" %}
{% set active_page = "Payments" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing.html">Payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Case payments</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Payments <span id="made-received">received</span> for <span id="case-payment-case-name"></span>
    </h1>
  </div>
  <div id="first-row" class="govuk-grid-column-two-thirds">
    <!-- <h2  class="govuk-heading-l">Case</h2> -->
    <h3 id="case-payment-service-type" class="govuk-heading-s">Service type</h3>
    <div id="case-payment-intro-div">
      <p>We’ve worked out your payments until your next annual review on <span id="case-payment-review-date">12
          September
          2021</span>. Find out <a class="govuk-link" href="#">how the Child Maintenance Service works out child
          maintenance</a>.</p>
    </div>
    <div id="case-payment-intro-multiple-div">
      <p>We’ve worked out your payments until your next annual review on <span id="case-payment-review-multiple-date">12
          September
          2021</span> for:</p>
          <ul id="case-payment-names-ul" class="govuk-list govuk-list--bullet">
            <li>Jim and 1 more</li>
          </ul>
          <p>Find out <a class="govuk-link" href="#">how the Child Maintenance Service works out child
          maintenance (opens in a new tab)</a>.</p>
    </div>

    <h2 class="govuk-heading-m">Next payment summary</h2>
    <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Payment amount after 4% collection fee deduction</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00 per month</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Payment date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">12th monthly</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Payment method</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Direct Debit</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total amount you have received since 12 September 2020</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£500.00</td>
        </tr>
      </tbody>
    </table> -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt id="case-payment-amount-header" class="govuk-summary-list__key govuk-!-width-one-half">
         <span id="case-payment-expected-amount">Amount</span><span class="case-payment-fee-spans"> after 4% collection fee deduction</span>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-table__header--numeric">
          £<span id="case-payment-amount">0.00</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date
        </dt>
        <dd id="case-payment-date" class="govuk-summary-list__value govuk-table__cell--numeric">
          10 
        </dd>
      </div>
      <div id="case-payment-method-div" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Method
        </dt>
        <dd id="case-payment-method" class="govuk-summary-list__value govuk-table__cell--numeric">
          {Payment Method}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <!-- <dt class="govuk-summary-list__key">
          Total amount you have <span class="paid-received">received</span> since <span
            id="case-payment-past-review">{00 Month 0000}</span>
        </dt> -->
        <!-- <dd class="govuk-summary-list__value govuk-table__cell--numeric">
          £<span id="case-payment-total-amount">0.00</span>
        </dd> -->
      </div>
    </dl>
    <a href="#" class="govuk-link">View your payment plan</a>
    <br />
    <br />
    <div class="summary-card-container">
      <div class="summary-card">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-width-two-thirds">Total amount you should have<span class="paid-received"> received</span> since <span
          id="case-payment-past-review">{00 Month 0000}</span> </h4>
        <div class="amount-freq">
          <h2 class="govuk-heading-l">£<span id="case-payment-total-amount">0.00</span></h2>
        </div>
      </div>
</div>
    <div class="govuk-!-margin-top-5"></div>
    <div id="case-payments-recent-payments-div"">
      <h2 class=" govuk-heading-m">Recent payments</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date of payment</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-half">Amount
              <span class="paid-received">received</span> <span class="case-payment-fee-spans">after 4% collection
                fee deduction</span>
            </th>
          </tr>
        </thead>
        <tbody id="case-payment-recent-payments-body" class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">12 August 2021</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">16 July 2021</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">22 June 2021</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          </tr>
        </tbody>
      </table>
      <a href="all-payments.html" class="govuk-link">View all payment details</a>
      <div class="govuk-!-margin-bottom-5"></div>
      <p id="case-payment-collect-rp-para">It may take up to 5 days for a payment to reach your account.
        <br />
        <br />
        You do not need to take any action if you have not received a full payment after 5 working days. As you use
        Collect and Pay, the Child Maintenance Service know if a payment has been missed or partially paid and will
        begin
        an investigation.
        <br />
        <br />
        If you have information that will support our investigation, you can share this by <a class="govuk-link"
          href="#">reporting a missed payment.</a>
      </p>
    </div>
    <div id="case-payment-direct-rp-div" class="govuk-!-margin-top-5" hidden>
      <p>To confirm you have received a payment, check your bank or building society account. It may take up to 5
        working days for a payment to reach your account.</p>
      <p>If you have not received a full payment after 5 working days, you may be able to <a href="#">report a missed
          payment</a>.</p>
      </p>
    </div>
    <p>Find out <a class="govuk-link" href="#">what the Child Maintenance Service can do to enforce unpaid child
        maintenance (opens in a new tab)</a>.
      <br />
      <br />
    </p>
    <!-- <div id="case-payments-arrears-div">
      <h2 class="govuk-heading-l">Arrears</h2>
      <p><strong>Enforcement type:</strong> Liability order</p>
      <div class="summary-card-container arrears">
        <div class="summary-card">
          <h4 class="govuk-heading-s">Arrears amount still owed to you after collection fee
            deductions</h4>
          <div class="amount-freq">
            <h2 id="case-payment-arrears-owed" class="govuk-heading-l">£1400.00</h2>
            <h3 class="govuk-heading-m">per month</h3> -->
          </div>
        </div>
        <!-- <div class="summary-card">
          <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Arrears paid to date</h4>
          <div class="amount-freq">
            <h2 id="case-payment-arrears-paid" class="govuk-heading-l">£600.00</h2>
             <h3 class="govuk-heading-m">per month</h3> -->
          </div>
          <!-- <a class="govuk-link--no-visited-state govuk-!-font-size-16" href="#">Make an online payment</a> -->
        </div>
        <!-- <div id="case-payment-enforcement-div" class="summary-card">
          <h4 class="govuk-heading-s">Enforcement charges</h4>
          <div class="amount-freq">
            <h2 id="case-payment-enforcement-charge" class="govuk-heading-l">£300.00</h2> --> 
            <!-- <h3 class="govuk-heading-m">per month</h3> -->
          </div>
        </div>
      </div>
    </div> 


  </div>
  <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case</th>
          <th scope="col" class="govuk-table__header">Service type</th>
          <th scope="col" class="govuk-table__header">Next scheduled payment</th>
        </tr>
      </thead>
      <tbody id="payments-cases-table" class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#" class="govuk-!-font-size-16">C. Jones</a></td>
          <td class="govuk-table__cell">Direct pay</td>
          <td class="govuk-table__cell">03/02/2021</td>
          </td>
        </tr>
      </tbody>
    </table> -->
</div>
{% endblock %}
