{% extends "layout.html" %}
{% set active_page = "Payments" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing.html">Payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a id="payment-period-breadcrumb-payments" class="govuk-breadcrumbs__link" href="case-payment.html">Case payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a <a id="payment-period-breadcrumb-all-payments" class="govuk-breadcrumbs__link" href="all-payments.html">All payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Review period</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Which annual review period do you want to view?
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div id="payment-period-date-radio" class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="date-range" name="date-range" type="radio" value="0">
              <label class="govuk-label govuk-radios__label" for="date-range">
                #DATE RANGE 1
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <a id="payment-period-continue" href="payments/all-payments"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
  </div>
</div>
{% endblock %}
