{% extends "layout.html" %}
{% set active_page = "Report a change" %}

{% block pageTitle %}
Report a change
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Report a change</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Report a change
    </h1>
    <p>You can <a class="govuk-link--no-visited-state" href="../track-changes/track-changes.html">track the progress of any changes</a> you report.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="payments/payments-landing.html" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Payments</h2>
    </a>
    <p>Tell us about any missed or voluntary payments.<br/>Change:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you make or receive payments</li>
      <li>your bank or building society details</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="children/children-landing.html" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Children</h2>
    </a>

    <p>Report changes to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your shared care arrangement</li>
      <li>who has financial or main day-to-day care of a child</li>
      <li>the number of children you support</li>
    </ul>
    <p>Tell us if a child has been adopted or left full time education.</p>
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="income/income-landing.html" class="govuk-link--no-visited-state">
      <h2 id="income-and-expenses-link-h2" class="govuk-!-margin-bottom-2">Income and expenses</h2>
    </a>

    <p id="income-and-expenses-para">Report any changes to income and expenses.</p>
  </div>
  
  <div class="govuk-grid-column-one-half">
    <a href="#" class="govuk-link--no-visited-state">
      <h2 class="govuk-!-margin-bottom-2">Case details</h2>
    </a>

    <p>Change your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>name</li>
      <li>contact details and preferences</li>
      <li>7 digit pin</li>
      <li>representative</li>
    </ul>
  </div>
</div>
{% endblock %}