{% extends "layout.html" %}

{% block pageTitle %}
  Report a missed payment
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a href="../home.html" class="govuk-link--no-visited-state">Home</a>
    <a href="../messages/messages.html" class="govuk-link--no-visited-state">Messages</a>
    <a id="current-link" href="#" class="govuk-link--no-visited-state">Report a Change</a>
    <a href="payments.html" class="govuk-link--no-visited-state">Payments</a>
    <a href="#" class="govuk-link--no-visited-state">Track Changes</a>
    <a href="#" class="govuk-link--no-visited-state">Case Details</a>
    <a href="#" class="govuk-link--no-visited-state">Personal Details</a>
  </div>
  <a href="home_multiple.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Report a change</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Missed payment</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Missed payments
    </h1>

    <p>How we deal with missed payments depends on which service you use.</p>

    <h2 class="govuk-heading-m">Collect and Pay service</h2>

    <p>The Child Maintenance Service will recognise when a payment is missed and appropriate action will be considered to recover the payment.</p>

    <h2 class="govuk-heading-m">Direct pay service</h2>

    <p>You should try and resolve a missed payment by contacting the other parent. If this is not possible, the receiving parent needs to ask the Child Maintenance Service to take action.</p>

    <p>This could result in you having to use our collect and pay service and you will need to pay the collection fees.</p>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div>
{% endblock %}
