{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a href="home.html" class="govuk-link--no-visited-state">Home</a>
    <a href="#" class="govuk-link--no-visited-state">Inbox</a>
    <a href="#" class="govuk-link--no-visited-state">Report a Change</a>
    <a id="current-link" href="payments.html" class="govuk-link--no-visited-state">Payments</a>
    <a href="#" class="govuk-link--no-visited-state">Track Changes</a>
    <a href="#" class="govuk-link--no-visited-state">Personal Details</a>
  </div>
  <a href="home_multiple.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="payments.html">Payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Payment Calculations</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div id="payment-calculations" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      How we calculated your payments
    </h1>
    <p>The Child Maintenance Service usually follows 6 steps to work out the weekly amount of child maintenance. Find
      more information on
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        how child maintenance is worked out (opens in a new tab).
      </a>
    </p>
  </div>
</div>
<div class="govuk-form-group govuk-!-margin-bottom-6">
  <label class="govuk-label" for="sort">
    Show calculations for:
  </label>
  <select class="govuk-select" id="calcs-sort" name="sort">
    <option value="all">All cases</option>
    <option value="frankie">J. Smith</option>
    <option value="janet">C. Jones</option>
  </select>
</div>
<div id="all-cases" class="govuk-grid-row">
  <div id="current-calculations" class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">
      Current calculations
    </h2>
    <p class="govuk-!-margin-bottom-5">12/03/2021 - Change to Shared care</p>
    <div id="step-1" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 1 - Income</h3>
      <p>Gross annual income: <strong>£36,500.00</strong>
        <!-- <br /> -->
        <!-- Gross weekly income: <strong>£700.00</strong> -->
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update income</a>
    </div>
    <div id="step-2" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 2 - Things that affect income</h3>
      <p>These are things that change your gross income amount
        <br />
        <br />
        Pension payments: <strong>£3,000.00</strong>
        <br />
        Boarding school fees (J. Smith): <strong>£6,000.00</strong>
        <br />
        Something else (C. Jones): <strong>£3,000.00</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update special expenses</a>
    </div>
    <div id="step-3" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 3 - Child Maintenance Rate</h3>
      <p>Your gross annual income is then converted to a gross weekly figure: <strong>£700.00</strong>
        <br />
        <br />
        Your gross weekly income is between £200.00 and £800.00. This means we use the <strong>Basic rate</strong> of
        child maintenance to work out how much you must pay.
      </p>
    </div>
    <div id="step-4" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 4 - Children</h3>
      <p>You pay child maintenance for <strong>3 children:</strong>
        <br />
        <br />
        J. Smith
        <br />
        <strong>Alaina Jenkins</strong>
        <br />
        <strong>Moses Lamar</strong>
        <br />
        <br />
        C. Jones
        <br />
        <strong>Joseph Carner</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child in existing case</a><br />
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child from different relationship</a>
    </div>
    <div id="step-5" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 5 - Weekly Amount</h3>
      <p>
        Using information from the first 4 steps, we work out the weekly child maintenance amount.
        <br />
        <br />
        Gross weekly income after reductions: <strong>£642.47</strong>
        <br />
        Child maintenance rate: <strong>Basic</strong>
        <br />
        Number of children: <strong>2</strong>
        <br />
        Percentage of gross weekly income: <strong>19%</strong>
        <br />
        <br />
        Weekly amount: <strong>£122.07</strong>
      </p>
    </div>
    <div id="step-6" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 6 - Shared Care</h3>
      <p>
        We work out the average number of nights per week your child stays overnight with you.
        You do not pay child maintenance for the nights your child stays with you.
        <br />
        <br />
        <strong>Alaina</strong>
        <br />
        stays with you <strong>2 out of 7</strong> nights per week.
        <br />
        Reduction to weekly child maintenance: <strong>£17.44</strong>
        <br />
        <br />
        <strong>Moses</strong>
        <br />
        stays with you <strong>2 out of 7</strong> nights per week.
        <br />
        Reduction to weekly child maintenance: <strong>£17.44</strong>
        <br />
        <br />
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update shared care</a>
    </div>
    <div id="arrears" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Arrears</h3>
      <p>You have unpaid child maintenance from missed payments
        <br />
        Unpaid amount: <strong>£50.00</strong>
      </p>
      <p>You have unpaid charges to the Child Maintenance Service
        <br />
        Unpaid collection fees: <strong>£60.00</strong>
        <br />
        Unpaid DNA test: <strong>£70.00</strong>
      </p>
      <p>Total unpaid payments: <strong>£180.00</strong></p>
      <p>You've agreed to pay <strong>£25.00 weekly over 7 weeks</strong></p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Make an online payments</a>
    </div>
    <div id="service type fees" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Collection fees</h3>
      <p>We add a 20% fee to your child maintenance payments for using the Collect and Pay service.
        <br />
        <br />
        Weekly amount: <strong>£15.62</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Change payment service</a>
    </div>
    <div class="totals-flex govuk-!-margin-bottom-8">
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Child Maintenance</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£78.12</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Arrears</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£25.72</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Collection fee</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£15.62</h2>
      </div>
    </div>
    <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">Weekly amount</h2>
    <h1 class="govuk-!-margin-bottom-0 govuk-heading-xl">£119.46</h1>
  </div>
  <div id="recent-calculations" class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Recent calculations
    </h2>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-6"></div>
    <a class="govuk-link--no-visited-state" href="calculations_history.html">View all calculations</a>
  </div>
</div>
<div id="frankie" class="govuk-grid-row" hidden>
  <div id="current-calculations" class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">
      Current calculations fi J. Smith
    </h2>
    <p class="govuk-!-margin-bottom-1">12/03/2021</p>
    <p>Change to Shared Care</p>
    <div id="step-1" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 1 - Income</h3>
      <p>Gross annual income: <strong>£36,500.00</strong>
        <br />
        Gross weekly income: <strong>£700.00</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update income</a>
    </div>
    <div id="step-2" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 2 - Things that affect income</h3>
      <p>Pension payments: <strong>£3,000.00</strong>
        <br />
        Boarding school fees (J. Smith): <strong>£6,000.00</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update special expenses</a>
    </div>
    <div id="step-3" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 3 - Child Maintenance Rate</h3>
      <p>Gross weekly income after Step 2: <strong>£542.47</strong>
        <br />
        <br />
        Your gross weekly income is between £200.00 and £800.00. This means we use the <strong>Basic rate</strong> of
        child maintenance to work out how much you must pay.
      </p>
    </div>
    <div id="step-4" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 4 - Children</h3>
      <p>You pay child maintenance for <strong>2 children:</strong>
        <br />
        <br />
        J. Smith
        <br />
        <strong>Alaina Jenkins</strong>
        <br />
        <strong>Moses Lamar</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child in existing case</a><br />
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child from different relationship</a>
    </div>
    <div id="step-5" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 5 - Weekly Amount</h3>
      <p>
        Gross weekly income after reductions: <strong>£642.47</strong>
        <br />
        Child maintenance rate: <strong>Basic</strong>
        <br />
        Number of children: <strong>2</strong>
        <br />
        Percentage of gross weekly income: <strong>19%</strong>
        <br />
        <br />
        Weekly amount: <strong>£122.07</strong>
      </p>
    </div>
    <div id="step-6" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 6 - Shared Care</h3>
      <p>
        <strong>Alaina</strong>
        <br />
        with you: <strong>106 nights per year</strong>
        <br />
        Reduction to child maintenance: <strong>2/7</strong>ths
        <br />
        Monetary reduction: <strong>£17.44</strong>
        <br />
        <br />
        <strong>Moses</strong>
        <br />
        with you: <strong>156 nights per year</strong>
        <br />
        Reduction to child maintenance: <strong>3/7</strong>ths
        <br />
        Monetary reduction: <strong>£26.16</strong>
        <br />
        <br />
        Weekly amount: <strong>£78.12</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update shared care</a>
    </div>
    <div id="service type fees" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Collection fees</h3>
      <p>20% fee added for Collect and Pay
        <br />
        Weekly amount: <strong>£15.62</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Change payment service</a>
    </div>
    <div id="arrears" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Money you owe</h3>
      <p>You have unpaid child maintenance from missed payments
        <br />
        <br />
        Unpaid amount: <strong>£50.00</strong>
      </p>
      <p>You have unpaid charges to the Child Maintenance Service
        <br />
        <br />
        Unpaid collection fees: <strong>£60.00</strong>
        <br />
        Unpaid DNA test: <strong>£70.00</strong>
      </p>
      <p>Total unpaid payments: <strong>£180.00</strong></p>
      <p>You've agreed to pay <strong>£25.00 weekly over 7 weeks</strong></p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Make an online payments</a>
    </div>
    <div class="totals-flex govuk-!-margin-bottom-8">
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Child Maintenance</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£78.12</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Service type fees</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£15.62</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Money you owe</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£25.72</h2>
      </div>
    </div>
    <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">Total weekly amount</h2>
    <h1 class="govuk-!-margin-bottom-0 govuk-heading-xl">£119.46</h1>
  </div>
  <div id="recent-calculations" class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Recent calculations
    </h2>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-6"></div>
    <a class="govuk-link--no-visited-state" href="calculations_history.html">View all calculations</a>
  </div>
</div>
<div id="janet" class="govuk-grid-row" hidden>
  <div id="current-calculations" class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">
      Current calculations fi C. Jones
    </h2>
    <p class="govuk-!-margin-bottom-1">12/03/2021</p>
    <p>Change to Shared Care</p>
    <div id="step-1" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 1 - Income</h3>
      <p>Gross annual income: <strong>£36,500.00</strong>
        <br />
        Gross weekly income: <strong>£700.00</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update income</a>
    </div>
    <div id="step-2" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 2 - Things that affect income</h3>
      <p>Pension payments: <strong>£3,000.00</strong>
        <br />
        Boarding school fees (J. Smith): <strong>£6,000.00</strong>
        <br />
        Something else (C. Jones): <strong>£3,000.00</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update special expenses</a>
    </div>
    <div id="step-3" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 3 - Child Maintenance Rate</h3>
      <p>Gross weekly income after Step 2: <strong>£542.47</strong>
        <br />
        <br />
        Your gross weekly income is between £200.00 and £800.00. This means we use the <strong>Basic rate</strong> of
        child maintenance to work out how much you must pay.
      </p>
    </div>
    <div id="step-4" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 4 - Children</h3>
      <p>You pay child maintenance for <strong>2 children:</strong>
        <br />
        <br />
        J. Smith
        <br />
        <strong>Alaina Jenkins</strong>
        <br />
        <strong>Moses Lamar</strong>
        <br />
        <br />
        C. Jones
        <br />
        <strong>Joseph Carner</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child in existing case</a><br />
      <a class="govuk-link govuk-link--no-visited-state" href="#">Add child from different relationship</a>
    </div>
    <div id="step-5" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 5 - Weekly Amount</h3>
      <p>
        Gross weekly income after reductions: <strong>£642.47</strong>
        <br />
        Child maintenance rate: <strong>Basic</strong>
        <br />
        Number of children: <strong>2</strong>
        <br />
        Percentage of gross weekly income: <strong>19%</strong>
        <br />
        <br />
        Weekly amount: <strong>£122.07</strong>
      </p>
    </div>
    <div id="step-6" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Step 6 - Shared Care</h3>
      <p>
        <strong>Alaina</strong>
        <br />
        with you: <strong>106 nights per year</strong>
        <br />
        Reduction to child maintenance: <strong>2/7</strong>ths
        <br />
        Monetary reduction: <strong>£17.44</strong>
        <br />
        <br />
        <strong>Moses</strong>
        <br />
        with you: <strong>156 nights per year</strong>
        <br />
        Reduction to child maintenance: <strong>3/7</strong>ths
        <br />
        Monetary reduction: <strong>£26.16</strong>
        <br />
        <br />
        Weekly amount: <strong>£78.12</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Update shared care</a>
    </div>
    <div id="service type fees" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Service type fees</h3>
      <p>20% fee added for Collect and Pay
        <br />
        Weekly amount: <strong>£15.62</strong>
      </p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Change payment service</a>
    </div>
    <div id="arrears" class="govuk-!-margin-bottom-8">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Money you owe</h3>
      <p>You have unpaid child maintenance from missed payments
        <br />
        <br />
        Unpaid amount: <strong>£50.00</strong>
      </p>
      <p>You have unpaid charges to the Child Maintenance Service
        <br />
        <br />
        Unpaid collection fees: <strong>£60.00</strong>
        <br />
        Unpaid DNA test: <strong>£70.00</strong>
      </p>
      <p>Total unpaid payments: <strong>£180.00</strong></p>
      <p>You've agreed to pay <strong>£25.00 weekly over 7 weeks</strong></p>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Make an online payments</a>
    </div>
    <div class="totals-flex govuk-!-margin-bottom-8">
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Child Maintenance</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£78.12</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Service type fees</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£15.62</h2>
      </div>
      <div>
        <h4 class="govuk-!-margin-bottom-0 govuk-heading-s">Money you owe</h4>
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">£25.72</h2>
      </div>
    </div>
    <h2 class="govuk-!-margin-bottom-0 govuk-heading-l">Total weekly amount</h2>
    <h1 class="govuk-!-margin-bottom-0 govuk-heading-xl">£119.46</h1>
  </div>
  <div id="recent-calculations" class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Recent calculations
    </h2>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-body">
        <h3 class="govuk-heading-m">12 January 2021</h3>
        <p>Change of income</p>
        <div class="new-amount">
          <p>New weekly amount</p>
          <h3 class="govuk-heading-m">£120.67</h3>
          <p class="amount-difference">£18.12 more</p>
        </div>
        <a class="govuk-link--no-visited-state" href="past_calculation.html">View calculation</a>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-6"></div>
    <a class="govuk-link--no-visited-state" href="calculations_history.html">View all calculations</a>
  </div>
</div>

</div>
{% endblock %}