{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">-> Impact of Coronavirus (COVID-19) </a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a>Home</a>
    <a href="#">Communications</a>
    <a href="#">Payments</a>
    <a href="#">Track Changes</a>
    <a href="#">Case Details</a>
    <a href="#">Personal Details</a>
  </div>
  <a href="#">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li> -->
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Welcome, Alex
    </h1>
    <div class="govuk-form-group govuk-!-margin-bottom-8">
      <label class="govuk-label" for="sort">
        Show view for:
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="all-cases" selected>All cases</option>
        <option value="case1">FGClaire, FGTodd</option>
        <option value="case2">FHClaire, FHTodd</option>
      </select>
    </div>
  </div>
  <div id="first-row" class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
      FGClaire, FGTodd
    </h2>
    <div class="custom-row">
      <div class="home-card" id="contact-card">
        <div class="card-header"><a href="#">
            <h2>Contact history</h4>
          </a>
        </div>
        <div class="card-body">
          <p>No previous messages</p>
          <div class="card-bottom">
            <a href="#">Send a message</a>
          </div>
        </div>
      </div>
      <div class="home-card" id="payments-card">
        <div class="card-header"><a href="#">
            <h2>Payments I receive</h4>
          </a>
        </div>
        <div class="card-body">

          <table class="govuk-table">
            <div class="govuk-!-margin-bottom-2"></div>
            <caption class="govuk-table__caption">Expected payments</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date Due</th>
                <th scope="col" class="govuk-table__header">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£109.80</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£109.80</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£4,282.20</td>
              </tr>
            </tbody>
          </table>
          <a href="#">Report a missing payment</a>
        </div>
      </div>
      <div class="home-card" id="track-changes-card">
        <div class="card-header"><a href="#">
            <h2>Track changes</h4>
          </a>
        </div>
        <div class="card-body" id="track-changes-card-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">Received (5)</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Shared care</td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">In Progress (2)</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Change to Direct Pay or Collect and Pay</td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">Complete (23)</a></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Case closure</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                    Approved
                  </strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="spacer-row" class="govuk-grid-column-full">
  </div>
    <div class="govuk-!-margin-bottom-6"></div>
  </div>
  <div id="second-row" class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
      FHClaire, FHTodd
    </h2>
    <div class="custom-row">
      <div class="home-card" id="contact-card">
        <div class="card-header"><a href="#">
            <h2>Contact history</h4>
          </a><span class="notification-badge">1</span>
        </div>
        <div class="card-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Subject</th>
                <th scope="col" class="govuk-table__header">Date</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="#" class="butblack">We need to check some information
                    with you</a></td>
                <td class="govuk-table__cell">12/01/2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header butsmaller"><a href="#" class="butblack">We haven't received
                    a child maintenance payment</a></th>
                <td class="govuk-table__header butsmaller">12/01/2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="#" class="butblack">We haven't received a child
                    maintenance payment</a></td>
                <td class="govuk-table__cell">12/01/2021</td>
              </tr>
            </tbody>
          </table>
          <div class="card-bottom">
            <a href="#">Send a message</a>
            <a href="#">View all</a>
          </div>
        </div>
      </div>
      <div class="home-card" id="payments-card">
        <div class="card-header"><a href="#">
            <h2>Payments I send</h4>
          </a>
        </div>
        <div class="card-body">

          <table class="govuk-table">
            <div class="govuk-!-margin-bottom-2"></div>
            <caption class="govuk-table__caption">Expected payments</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date Due</th>
                <th scope="col" class="govuk-table__header">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£109.80</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£109.80</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">12/01/2021</td>
                <td class="govuk-table__cell">£4,282.20</td>
              </tr>
            </tbody>
          </table>
          <a href="#">View payment history</a>
        </div>
      </div>
      <div class="home-card" id="track-changes-card">
        <div class="card-header"><a href="#">
            <h2>Track changes</h4>
          </a>
        </div>
        <div class="card-body" id="track-changes-card-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">Received (0)</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Nothing received</td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">In Progress (0)</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Nothing in progress</td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack">Complete (0)</a></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Nothing complete</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}