{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a id="home-link">Home</a>
    <a href="#" class="govuk-link--no-visited-state">Inbox</a>
    <a href="#" class="govuk-link--no-visited-state">Report a Change</a>
    <a href="#" class="govuk-link--no-visited-state">Payments</a>
    <a href="#" class="govuk-link--no-visited-state">Track Changes</a>
    <a href="#" class="govuk-link--no-visited-state">Personal Details</a>
  </div>
  <a href="home.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li> -->
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Welcome, Alex
    </h1>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      Useful links
    </h2>
    <div id="useful-links" class="govuk-!-margin-bottom-7">
      <a href="#" class="govuk-link--no-visited-state">Missed payments</a>
      <a href="#" class="govuk-link--no-visited-state">Update income</a>
      <a href="#" class="govuk-link--no-visited-state">Change service type</a>
      <a href="#" class="govuk-link--no-visited-state">Update shared care</a>
      <a href="#" class="govuk-link--no-visited-state">Upload documents</a>
    </div>
    <div class="govuk-form-group govuk-!-margin-bottom-6">
      <label class="govuk-label" for="sort">
        Show view for:
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="all-cases" selected>All cases</option>
        <option value="janet">Janet</option>
        <option value="clive">Clive</option>
        <option value="frankie">Frankie</option>
      </select>
    </div>
  </div>
  <div id="first-row" class="govuk-grid-column-full">
    <!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
      FGClaire, FGTodd
    </h2> -->
    <div class="custom-row">
      <div class="home-card" id="contact-card">
        <div class="card-header">
          <a href="#" class="govuk-link--no-visited-state">
            <h2>Inbox</h2>
          </a>
        </div>
        <div class="card-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Subject</th>
                <th scope="col" class="govuk-table__header">Date</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="#" class="butblack">We need to check some information
                    with you</a></td>
                <td class="govuk-table__cell">01/02/2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="#" class="butblack">Your child maintenance payments
                    will not change</a></td>
                <td class="govuk-table__cell">15/01/2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="#" class="butblack">We've worked out your child
                    maintenance payments</a></td>
                <td class="govuk-table__cell">31/12/2020</td>
              </tr>
            </tbody>
          </table>
          <div class="card-bottom">
            <a href="#" class="govuk-link--no-visited-state">Send a message</a>
            <a href="#" class="govuk-link--no-visited-state">View all</a>
          </div>
        </div>
      </div>
      <div class="home-card" id="track-changes-card">
        <div class="card-header">
          <a href="#" class="govuk-link--no-visited-state">
            <h2>Track changes</h4>
          </a>
        </div>
        <div class="card-body" id="track-changes-card-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#" class="butblack"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Change phone number</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    Received
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Change address</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    Received
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Change to Direct Pay or Collect and Pay</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    In progress
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-bottom">
            <a href="#" class="govuk-link--no-visited-state"></a>
            <a href="#" class="govuk-link--no-visited-state">View all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="spacer-row" class="govuk-grid-column-full govuk-!-margin-bottom-9"></div>
  <div id="second-row" class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Payments</h2>
    <div class="payments-grid">
      <div class="home-card payments-card" id="janet">
        <div class="card-header">
          <a href="#" class="govuk-link--no-visited-state">
            <h2>Janet</h4>
          </a>
        </div>
        <div class="card-body">
          <p class="small govuk-!-margin-bottom-2">Expected payments - Direct Pay</p>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Previous</h4>
          <div class="flex">
            <p class="small">12/02/2021</p>
            <p class="small">£96.00</p>
          </div>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Next</h4>
          <div class="flex">
            <p class="small">12/03/2021</p>
            <p class="small">£96.00</p>
          </div>
          <a href="#" class="govuk-link--no-visited-state">Report a missing payment</a>
        </div>
      </div>
      <div class="home-card payments-card" id="clive">
        <div class="card-header">
          <a href="#" class="govuk-link--no-visited-state">
            <h2>Clive</h4>
          </a>
        </div>
        <div class="card-body">
          <p class="small govuk-!-margin-bottom-2">Payments - Collect and Pay</p>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Previous</h4>
          <div class="flex">
            <p class="small">16/02/2021</p>
            <p class="small">£53.00</p>
          </div>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Next</h4>
          <div class="flex">
            <p class="small">16/03/2021</p>
            <p class="small">£53.00</p>
          </div>
          <a href="#" class="govuk-link--no-visited-state">Update income</a>
        </div>
      </div>
      <div class="home-card payments-card" id="frankie">
        <div class="card-header">
          <a href="#" class="govuk-link--no-visited-state">
            <h2>Frankie</h4>
          </a>
        </div>
        <div class="card-body">
          <p class="small govuk-!-margin-bottom-2">Expected payments - Direct Pay</p>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Previous</h4>
          <div class="flex">
            <p class="small">28/02/2021</p>
            <p class="small">£82.00</p>
          </div>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Next</h4>
          <div class="flex">
            <p class="small">28/03/2021</p>
            <p class="small">£82.00</p>
          </div>
          <a href="#" class="govuk-link--no-visited-state">Update income</a>
        </div>
      </div>
    </div>
    <!-- <div class="govuk-!-margin-bottom-6"></div> -->
  </div>
</div>
{% endblock %}