{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a href="home_multiple_pp.html" class="govuk-link--no-visited-state">Home</a>
    <a href="#" class="govuk-link--no-visited-state">Messages</a>
    <a href="#" class="govuk-link--no-visited-state">Report a Change</a>
    <a id="current-link" href="payments_pp.html" class="govuk-link--no-visited-state">Payments</a>
    <a href="track_changes" class="govuk-link--no-visited-state">Track Changes</a>
    <a href="#" class="govuk-link--no-visited-state">Personal Details</a>
  </div>
  <a href="jsmith.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home_multiple_pp.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="payments_pp.html">Payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Payments for a case</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Payments to J. Smith
    </h1>
    <div class="govuk-inset-text">
      You use the Collect and Pay service for this case
    </div>
    <p>
      We have worked out the amount of child maintenance you must pay and when it must be paid by. A 20% collection fee
      is included in the amount you pay.
      <br />
      <br />
      It can take up to 5 days for the other parent to receive the Child Maintenance you have paid.
    </p>
  </div>
  <div id="first-row" class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Payments</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Expected amount</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount received</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Next payment</th>
          <td class="govuk-table__cell">03/05/2021</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£430.04</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Not yet received</td>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Previous payment</th>
          <td class="govuk-table__cell">03/04/2021</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£430.04</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£430.04</td>
          </td>
        </tr>
      </tbody>
    </table>

    <a class="govuk-link--no-visited-state govuk-!-margin-bottom-5" href="all_payments_pp?case=2">
      View all payments from J. Smith
    </a>
    <div class="govuk-!-margin-bottom-5"></div>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      Monthly total
    </h3>
    <div class="summary-card-container">
      <div class="summary-card">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Child maintenance</h4>
        <div class="amount-freq">
          <h2 class="govuk-heading-l">£246.96</h2>
          <h3 class="govuk-heading-m">per month</h3>
        </div>
      </div>
      <div class="summary-card">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Arrears</h4>
        <div class="amount-freq govuk-!-margin-bottom-2">
          <h2 class="govuk-heading-l">£111.41</h2>
          <h3 class="govuk-heading-m">per month</h3>
        </div>
        <a class="govuk-link--no-visited-state govuk-!-font-size-16" href="#">Make an online payment</a>
      </div>
      <div class="summary-card">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Collection fee</h4>
        <div class="amount-freq">
          <h2 class="govuk-heading-l">£71.67</h2>
          <h3 class="govuk-heading-m">per month</h3>
        </div>
      </div>
    </div>
    <div class="summary-card govuk-!-margin-bottom-2">
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Expected total amount</h4>
      <div class="amount-freq">
        <h2 class="govuk-heading-l">£430.04</h2>
        <h4 class="govuk-heading-s">per month</h4>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-5"></div>
    <a class="govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-margin-bottom-4"
      href="calculations_pp?calc=jsmith">
      Find out how your payments were calculated</a>
    <div class="govuk-!-margin-bottom-5"></div>
  </div>
</div>
{% endblock %}