{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo"/>
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">-> Impact of Coronavirus (COVID-19) </a>
</div>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="parents.html" class="govuk-back-link">Back</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      How to sign in to your parent or guardian case
    </h1>
    <p>If you already have a case with the Child Maintenance Service, you can manage it online.<br /><br />
      To sign into your Child Maintenance account, you will need your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        12 digit customer reference number (this begins with '121'. Find this on letters we sent you about your case)
      </li>
      <li>
        National Insurance number (it’s on your National Insurance card, benefit letter, payslip or P60. For example,
        ‘QQ 12 34 56 C’)
      </li>
      <li>
        7 digit pin (this was set up when you started using the Child Maintenance Service. You can ask for a reminder if
        you’re not sure)
      </li>
    </ul>
    <p>If you have forgotten or do not know your PIN, you can <a href="#">reset it</a>.<br/><br/>Once signed in, you can report a change of circumstance, view your child maintenance arrangement, update personal
      information, contact us and much more.</p>
    <a href="parents.html"><button class="govuk-button" data-module="govuk-button">
      Sign in
    </button></a>
  </div>
</div>
{% endblock %}