{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo" />
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">Impact of Coronavirus (COVID-19) (opens in a new tab)</a>
</div>
<nav class="navbar-main">
  <div class="navbar-sub">
    <a href="home_multiple_pp.html" class="govuk-link--no-visited-state">Home</a>
    <a href="#" class="govuk-link--no-visited-state">Inbox</a>
    <a href="#" class="govuk-link--no-visited-state">Report a Change</a>
    <a id="current-link" href="payments.html" class="govuk-link--no-visited-state">Payments</a>
    <a href="#" class="govuk-link--no-visited-state">Track Changes</a>
    <a href="#" class="govuk-link--no-visited-state">Personal Details</a>
  </div>
  <a href="payments.html" class="govuk-link--no-visited-state">Sign out</a>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home_multiple_pp.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Payments</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Payments
    </h1>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-5">
      Next payments
    </h3>
  </div>
  <div id="first-row" class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case</th>
          <th scope="col" class="govuk-table__header">Service type</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Frequency</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="jane_pp.html" class="govuk-!-font-size-16">C. Jones</a></td>
          <td class="govuk-table__cell">Direct pay</td>
          <td class="govuk-table__cell">03/05/2021</td>
          <td class="govuk-table__cell">£192.10</td>
          <td class="govuk-table__cell">Monthly</td>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="jill_pp.html" class="govuk-!-font-size-16">J. Smith</a></td>
          <td class="govuk-table__cell">Collect and pay</td>
          <td class="govuk-table__cell">02/05/2021</td>
          <td class="govuk-table__cell">£430.04</td>
          <td class="govuk-table__cell">Monthly</td>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="govuk-link" href="all_payments_pp.html">View all payments</a>
    <div class="govuk-!-margin-bottom-5"></div>
    <div class="summary-card govuk-!-margin-bottom-5">
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Expected total amount</h4>
      <div class="amount-freq">
        <h2 class="govuk-heading-l">£622.14</h2>
        <h4 class="govuk-heading-s">per month</h4>
      </div>
    </div>
    <a class="govuk-link--no-visited-state govuk-!-margin-bottom-6" href="calculations_pp.html">Find out how your payments
      were calculated</a>
    <div class="govuk-!-margin-bottom-5"></div>
    <a class="govuk-link--no-visited-state" href="#">Make an online payment</a>
  </div>
</div>
{% endblock %}