{% extends "layout.html" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<header class="CMG-header">
  <img src="/public/images/cmg-banner.png" id="header-logo"/>
</header>
<div class="covid-banner">
  <a href="#" id="covid-link">-> Impact of Coronavirus (COVID-19) </a>
</div>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li> -->
  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p>Select a sign in option:</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">
          <a href="parents.html">Parents and Guardians</a>
        </h3>
        <p class="govuk-body">Sign in if you are a parent, grandparent or other guardian who has an existing case with the Child Maintenance Service. You do not need to register to manage your case online.</p>
        <h2 class="govuk-heading-s">Northern Ireland </h2>
        <p>If your case in based in Northern Ireland, <a href="#">sign in here</a></p>
        <br/>
        <a href="#" class="govuk-link govuk-!-font-size-19">Set up a new child maintenance case</a>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">
          <a href="employer.html">Employers</a>
        </h3>
        <p class="govuk-body">Sign in if you are an employer who pays your employees’ child maintenance through their
          earnings.</p>
      </div>

    </div>
    <div class="bottom-space"></div>
  </div>
  {% endblock %}