{% extends "layout.html" %}
{% set active_page = "Track changes" %}

{% block pageTitle %}
My Child Maintenance Case
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
	<ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="home_multiple.html">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="payments.html">Track Changes</a>
		</li>
	</ol>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
			Track changes
		</h1>
		<p>Track the progress of a change you have reported. Your report will be dealt with as soon as possible, usually within 4 weeks. It may take longer, for example, if we need to contact the other parent or evidence is required. 
			<br/><br/>You will not be able to view the progress of any enforcement action we are taking to recover unpaid child maintenance. 
			</p>
	</div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-m govuk-!-margin-bottom-5">
			Filters
		</h3>
		<div class="table-filter">
			<!--Filters-->
			{% call govukFieldset({
				legend: {
					text: "Date submitted",
					classes: "govuk-fieldset__legend--s",
					isPageHeading: false
				}
			}) %}
			
			{{ govukInput({
				label: {
					text: "Report submitted after"
				},
				hint: {
					text: "For example, 2005 or 21/11/2014"
				},
				id: "submitted-after",
				name: "submitted-after",
				classes: "govuk-input--width-10"
			}) }}
			
			{{ govukInput({
				label: {
					text: "Report submitted before"
				},
				hint: {
					text: "For example, 2005 or 21/11/2014"
				},
				id: "submitted-before",
				name: "submitted-before",
				classes: "govuk-input--width-10"
			}) }}
			
			
			{{ govukCheckboxes({
			idPrefix: "status",
			name: "status",
			classes: "govuk-checkboxes--small",
			fieldset: {
			legend: {
			text: "Status of report",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--s"
			}
			},
			items: [
			{
			id: "status-completed",
			value: "completed",
			text: "Completed"
			},
			{
			id: "status-evidence-requested",
			value: "evidence-requested",
			text: "Evidence requested"
			},
			{
			id: "status-in-progress",
			value: "in-progress",
			text: "In progress"
			},
			{
			id: "status-received",
			value: "received",
			text: "Received"
			},
			{
			id: "status-rejected",
			value: "rejected",
			text: "Rejected"
			}
			]
			}) }}

			{{ govukButton({
				id: "apply-filter-button",
				text: "Apply filter",
				classes: "govuk-button--secondary"
			}) }}
			{% endcall %}
		</div>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<form id="changes-table">
			<h4 id="result-count" class="govuk-heading-s table-result-count">6 changes</h4>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header"></th>
						<th scope="col"
							class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third"></th>
					</tr>
				</thead>
				<tbody id="changes-table-body" class="govuk-table__body">
					<div id="submitted-facet-container" class="facet-container even">
						<h4 id="submitted-label" class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0">
							Submitted</h4>
						<div id="submitted-after-facet" class="facet-tag" hidden>
							<p id="submitted-after-date" class="govuk-!-margin-bottom-0">1992</p>
						</div>
						<h4 id="submitted-and" class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0"
							hidden>and</h4>
						<div id="submitted-before-facet" class="facet-tag" hidden>
							<p id="submitted-before-date" class="govuk-!-margin-bottom-0">2099</p>
						</div>
					</div>
				</tbody>
				<div id="status-facet-container" class="facet-container">
					<h4 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0">Status</h4>
					<!-- <div class="facet-tag" value="received">
						<p class="govuk-!-margin-bottom-0">Received</p>
					</div> -->
				</div>
				<tbody id="changes-table-body" class="govuk-table__body">
					<!-- <tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header"><a
								class="table-row-subject govuk-link--no-visited-state" href="change_details">Change to
								service type</a>
							<div class="changes-date-container">
								<span class="table-row-change-date submitted-date">Submitted: 24 April 2021</span>
								<span class="table-row-change-date updated-date">Updated: 18 May 2021</span>
							</div>
						</th>
						<td class="govuk-table__cell table-row-date"><strong
								class="govuk-tag govuk-tag--red">Rejected</strong></td>
					</tr>-->
					<tr id="no-results" class="govuk-table__row" hidden>
						<th scope="row" class="govuk-table__header">
							There are no matching results.
						</th>
						<td class="govuk-table__cell table-row-date"></td>
					</tr>
				</tbody>
			</table>
		</form>
		<!-- <div class="paginator">
      <a href="#" class="govuk-link--no-visited-state govuk-link">« Previous</a>
      <a href="#" class="govuk-link--no-visited-state govuk-link current">1</a>
      <a href="#" class="govuk-link--no-visited-state govuk-link">2</a>
      <a href="#" class="govuk-link--no-visited-state govuk-link">3</a>
      <a href="#" class="govuk-link--no-visited-state govuk-link">4</a>
      <a href="#" class="govuk-link--no-visited-state govuk-link">Next »</a>
    </div> -->
	</div>
</div>
{% endblock %}